你要制作一个前后端项目，具体要求如下：

基本要求：
你要制作一个“AI虚拟面试官”的网站，模拟专门投资早期项目的VC公司的deal sourcing面试，主要目的是帮助求职者提前陪练、准备面试。

系统功能需要：
1. 需要有账号系统（不需要任何验证，随意可随手创建账户），用户可以在个人信息设置里上传个人信息，最重要的是可以上传简历，简历一个账号最多上传5份，一份最多10MB，简历必须是pdf（后端可以在上传后从pdf抽取纯文本，如果抽取有问题则上传失败，成功则把pdf和纯文本的txt文件都保存成文件）。
2. 用户可以新建面试会话，可以管理会话（新建、删除、重命名），最多可创建10个会话。建立会话的时候要指定具体的简历，并且允许自定义面试的问题数量（比如低、中、高）、task数量（可以从1-5里面选）、时长（默认无限制，但可按分钟数限制）。

会话具体面试流程交互设计：
面试分为两个环节，第一个环节是问简历（这部分直接讲CV_Evaluation_and_Questioning_Rules.md写死进AI面试官的提示词），第二个环节针对具体的deal sourcing场景布置task并引导提问（Deal_Sourcing_Knowhow_Task_and_Questioning.md）。面试是纯文本交互，一问一答，考官问完之后，考生只能回答一次，然后考官继续提问。会话结束后中止面试并给出评级（A-E，A最高）和反馈（Interview_Scoring_Rules.md）。

LLM相关：
系统会接入kimi开放平台（按量计费那个）api（用kimi_api_key.txt），需要设计api使用逻辑。需要对系统总使用速率（按token/h和response/h限制），对所有用户做负载均衡（很多人用网站的时候会自然变卡）。每小时最多消耗2元人民币。AI的输出不要立刻给到面试者，要先让AI再迭代恰好2轮，确定回复合适，再正式记录和发送回复。除了我前面提到的md文件的prompt，你还可以自己酌情按需设计一些prompt，但这些prompt都必须以md文件的形式保存在prompts文件夹，不能写死进后端代码。

技术栈要求：
后端用flask。前端就html/css/js。数据存储直接用本地文件系统，无需sql或对象储存等专业数据库。

Git要求：
所有修改都要严格走git commit，确保有.git。

过程文档要求：
需要在项目根目录写一个"版本迭代记录.md"，注意这个并不是每一步commit都去写，而是只有开发者明确提出例如新增功能或bug修改意见的时候你才去写这个东西，记录开发者明令要改什么、你改了什么怎么改的。这个文件是append only的。

UI设计要求：
尽量简洁美观，不要扔一大堆按钮。

代码质量要求：
提前规划好模块，代码不要过渡工程化，测试不要要密集，合理即可。此次开发出的原型需要在一两个小时内完成，不要搞太复杂，不要加无关的功能。

服务器要求：
全程给你权限操作，项目完成并本地实测后，一次性部署到ubuntu服务器上，服务器IP 152.136.60.146，账号ubuntu，密码112230loVE#。